<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
  <p>Team Name:<input type="text" id="name"></p>
  <p>Coach: <input type="text" id="coach"></p>
  <p>Point Guard: <input type="text" id="pg"></p>
  <p>Shooting Guard: <input type="text" id="sg"></p>
  <p>Small Forward: <input type="text"></p>
  <p>Power Forward: <input type="text"></p>
  <p>Center: <input type="text"></p>
  <input type="Submit">
   </form>
 </body>
</html>


